- var n = 0
- var itemNumber = 50
.w
  while n < itemNumber
    .i
    - n++
  .h
    h1 Don't Panic
.info
  h2 Hover effect #2
  a.source(href="https://codepen.io/hmdmweb/pen/EyhID") first version
  br
  a.source(href="https://unsplash.com/") photo : unsplash
  
  