* {
    font-family: 'Quicksand', sans-serif;
}

*::selection {
    background: #0E2A3E;
    color: white;
}

*::-moz-selection {
    background: #0E2A3E;
    color: white;
}


body {
    background-color: #2C3338 !important;
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 80px;
}

.logo {
    width: 150px;
    display: block;
    margin: auto;
    filter: brightness(90%);
}

input {
    border: none !important;
    color: #E5E5E5 !important;
    background-color: #3B4148 !important;
}

input::placeholder {
    color: #E5E5E5 !important;
    font-size: 16px;
}

input:focus {
    border: none !important;
    color: #E5E5E5 !important;
    background-color: #3B4148 !important;
}

.input-group-text {
    border: none !important;
    background-color: #363B41 !important;
}

.password-show {
    border: none !important;
    background-color: #3B4148 !important;
}

i {
    padding: 8px;
    font-size: 14px !important;
    color: #6771E6 !important;
}

.btn-login {
    background-color: #6771E6 !important;
    border: #6771E6 !important;
    transition: .4s;
}

.btn-login:hover {
    opacity: .9;
}